<!DOCTYPE html>
<html ng-app="petApp">
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Pets App!</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="assets/sheetrock.css"></link>

  </head>
  <body>
    <div ng-include="'partials/header.html'"></div>
    <h1>Unlike Any Other...</h1>

    <img src="assets/dogbonemedium.jpg" width="400px">

    <p>We're a software firm focused on pets. We began when the internet was very young.</p>

    <p>We began as a group of dogs coding in the basement. Our first app was a virtual game of fetch. From then on, our success has been legendary.</p>

    <p>Our most recent hit, "Tracker," uses geo-location technology to track buried bones. Never again will a dog have to worry about where they hid their bone.</p>

    <p>Our most recent creation, "Pet Viewer," offers a database in which you can keep track of all the animals you've met.</p>

    <p>In its early days, it has already been hailed as 'the Facebook for dogs.'</p>

  </body>
</html>
