<!DOCTYPE html>
<html ng-app="petApp">
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Pets App!</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="assets/sheetrock.css"></link>

  </head>
  <body>
    <div ng-include="'partials/header.html'"></div>
    <h1>Add a pet</h1>

<div ng-controller="addPet">
    <p>Enter in the applicable information to below to add a pet to our
      database.</p>

      <input type="text" value ="" ng-model="petNameIn" placeholder="Pet Name"/>
      <input type="text" value="" ng-model="petAgeIn" placeholder="Pet Age"/>
      <input type="text" value="" ng-model="petTypeIn" placeholder="Pet Type"/>
      <input type="text" value="" ng-model="imgUrlIn" placeholder="Pet Image URL"/>

      <button type="button" ng-click="addPet()">Submit Animal</button>
</div>
  </body>
</html>
