<!DOCTYPE html>
<html ng-app="petApp">
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Pets App!</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="assets/sheetrock.css"></link>

  </head>
  <div ng-include="'partials/header.html'"></div>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome Home</h1>
      </div>
    </div>
    <div class="intro">
    <h1>By dogs, for dogs</h1>
    <p>We believe in the power of possibility. We brought together a team of the best and brightest dogs to create a piece of software that keeps track of pets. Now, when you're wandering around in the park, you'll never have to wonder if the bird you see in the tree above is one you've seen before. Just snap a picture, upload it to the database, along with relevant biographical information, and hit save. Then, any time you like, you can view all the pets you've met so far. Future versions will include a more paw-friendly inteface. </p>
</div>



  </body>
</html>
