<!DOCTYPE html>
<html ng-app="petApp">
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Pets App!</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="assets/sheetrock.css"></link>

  </head>
  <body>
    <div ng-include="'partials/header.html'"></div>
    <h1>Welcome to the best website ever!</h1>

    <div ng-controller="petViews">
      <table>
        <tr ng-repeat="pet in allPets">
          <td>{{pet.name}}</td>
          <td>{{pet.animal_type}}</td>
          <td>{{pet.age_years}}</td>
          <td></td>
          <td><img src="{{pet.img_url}}"></td>
      </tr>
    </table>
</li>
    <button ng-click="showPets()">Show Pets</button>

  </body>
</html>
