.list {
  padding:20px 15px 20px 15px;
  background-color:lightgrey;
}

.list li {
  display:inline;
  padding:0 20px 0 20px;
  text-transform: uppercase;
}

.list li:hover{
  font-weight:bold;
}

.jumbotron{
  background-image: url('/assets/corgi.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  height:700px;
}

.jumbotron h1 {
  color:white;
}

table {
  border: solid;
  margin: 10px, 10px, 10px, 10px;
  padding: 10px, 10px, 10px, 10px;
}

table img{
  width:400px;
  margin: 10px, 10px, 10px, 10px;
  padding: 10px, 10px, 10px, 10px;
}


.intro {
  margin:0 10% 0 10%;
}


/*.list {
  width:100%;
}
.list li{
  display:table-cell;
  margin: 0 5px
  display:block;
}*/



/*ul {
  list-style-type:none;
  marign: 0;
  padding:0;
}

ul.list li {
  display: inline;
  width:100%;
}*/
